@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: AGaramondPro-Regular;
    src: url(../fonts/AGaramondPro-Regular.otf);
} 


body{
	background-image:url(../images/backgrounds/bg-site.png);
	font-family:AGaramondPro-Regular;
}

.container{
	max-width:986px;	
}

section{
	color:#e4f2fd;	
}

.barra{
	position:absolute;
}


/* TOPO */
.logo-storm{
	background-image:url(../images/logo.png);
	background-repeat:no-repeat;
	width:251px;
	height:26px;
	margin-top: 14px;
	margin-bottom:16px;
	margin-right:81px;
}

nav.navbar{
	font-family: "Trebuchet MS";
	font-size:14px;
	color:#cecece;
	text-shadow: 2px 2px 3px #000000;
}

nav.navbar-inverse{
	z-index:10;
	position:fixed;
	left:50%;
	margin-left:-493px;
	margin-top:7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #313132; /* Old browsers */
	background: -moz-linear-gradient(top,  #313132 0%, #0e0f10 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#313132), color-stop(100%,#0e0f10)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #313132 0%,#0e0f10 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #313132 0%,#0e0f10 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #313132 0%,#0e0f10 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #313132 0%,#0e0f10 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313132', endColorstr='#0e0f10',GradientType=0 ); /* IE6-9 */
}

nav > .container{
	width:986px;
	height:56px;
	padding-left:24px;
	padding-right:32px;
}

#navbar > ul, #navbar > ul > li {
	height:56px;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	background:none;	
	color:#cecece;
}

.navbar-inverse .navbar-nav > li > a, 
.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus {
	padding-top: 20px;
	background:none;	
	color:#cecece;
}

.navbar-inverse .navbar-nav > li > a:hover{
	border-bottom: 4px #fff001 solid;
}


/* VITRINE */
#Vitrine{
	max-height:524px;
	background:url(../images/backgrounds/bg-vitrine.png) no-repeat scroll center 61px;	
}


.carousel-inner{
	margin-top:16px;
}

/* CLIPPING */
#Clipping{
	background-image:url(../images/backgrounds/bg-clipping.png);
	min-height:400px;
	padding-top:120px;
	padding-bottom:40px;
}

#Clipping article{
	width:590px;
	float:left;	
	padding-left:8px;
}

#Clipping article select{
	display:none;
	width:100%;
	margin-bottom:17px;
	color: #244563;
	padding:5px 2px;
}

#Clipping article figure{
	position:relative;
	margin-bottom:23px;
}
#Clipping article figure figcaption{
	font-size:10px;
}

#Clipping article figure img{
	border:1px solid #253646;
}

#Clipping article figure .HrTop{
	background-color:#1979bc;
	width:396px;
	height:3px;
}
#Clipping article figure .VtTop{
	background-color:#4b87c0;
	width:6px;
	height:30px;
	top: -6px;
	right:0px;
}
#Clipping article figure .VtBottom{
	background-color:#1979bc;
	width:3px;
	height:270px;
	top:73px;
	right:1px;
}

#Clipping article h1{
	font-size:17px;
	text-transform: uppercase;
	color:#e4f2fd;
	margin-top:0px;
	margin-bottom:20px;
}

#Clipping article div{
	width:461px;
	float:left;
}

#Clipping article aside{
	width: 84px;
	float:left;
	border:1px solid #153c57;
	background-color:#1b2732;
	margin-left:20px;
	padding: 17px 0px;
	text-align:center;
	margin-top:80px;	
}

#Clipping article aside img{
	margin-bottom:12px;
}

#Clipping article aside button{
	width:37px;
	height:37px;
	background-color:#1979bc;
	border:none;
	-webkit-border-radius: 18px;
	border-radius: 18px;	
	margin-top:15px;
	margin-bottom:10px;
}

#Clipping article aside button span{
	width:8px;
	padding:4px 9px;
	height:19px;	
}
#Clipping article aside button .proximo{
	background:url(../images/botoes/proximo.png) no-repeat center;		
}
#Clipping article aside button .anterior{
	background:url(../images/botoes/anterior.png) no-repeat center;		
}

#Clipping article aside .Hr{
	background-color:#274c6c;
	width:62px;
	height:1px;
	margin-left:11px;
	margin-bottom:1px;
}


#Clipping nav{
	width:366px;
	float:left;	
	position:relative;
	font-size:13px;
	text-transform: uppercase;
}

#Clipping nav .HrTop{
	background-color:#1979bc;
	width:174px;
	height:4px;
	top: 31px;
}
#Clipping nav .VtTop{
	background-color:#1979bc;
	width:5px;
	height:174px;	
	left:12px;
}

#Clipping nav ul{
	margin-left: 37px;
	margin-top: 63px;
	padding:0px;
}
#Clipping nav ul li{
	list-style:none;
	margin:0px;
	padding-bottom:21px;
}

#Clipping nav ul li a{
	color:#fefefe;
	text-decoration:none;
}
#Clipping nav ul li a:hover{
	color:#fff001;
}

/* CONTATO */
#Contato{
	background-image:url(../images/backgrounds/bg-contato.png);
	min-height:300px;
	padding-top:107px;
	padding-bottom:140px;
}

#Contato header{
	width:660px;
	margin:0px 163px 70px 163px;
	text-align:center;
	position:relative;
	font-size:22px;
}

#Contato header .HrTop{
	background-color:#1979bc;
	width:82px;
	height:2px;
	top:-12px;
	left:7px;
}

#Contato header .HrBot{
	background-color:#1979bc;
	width:82px;
	height:2px;
	top:60px;
	right:7px;
}

#Contato header .VtBot{
	background-color:#1979bc;
	width:4px;
	height:88px;
	top:6px;
	right:19px;
}

#Contato form{
	float:left;
	width:460px;	
	padding:0px 23px 0px 35px;
	margin-right:20px;
	-webkit-box-shadow: 8px 0 15px 1px #213e5a;
	box-shadow: 8px 0 15px 1px #213e5a;
}
#Contato form input,#Contato form textarea{
	background-color:#e4f2fd;
	color:#171717;
}


::-webkit-input-placeholder{
   color:#171717;
}

:-moz-placeholder {
	color:#171717;
}

::-moz-placeholder {
	color:#171717;
}

:-ms-input-placeholder {  
	color:#171717;
}

#Contato address{
	float:left;
	width:400px;
	min-height:400px;
}

#Contato address p{
	font-size:16px;
	margin-bottom:40px;
}




